<h2>Úvod</h2>
<div id="first_page">
<h3>Vlkabaret</h3>
<p class="little_value">
<b>Bufetová nostalgie v bílém baretu pivního džbánu.<br> Kabaret, který vyudí koleno barové zpěvačky Christiany Morgensternové.<br> Ostrost rosí jelení lůj na frontě.<br> Jeho jazyk setře prach z čínské zdi. Nad orchestrem visí: zapal sobě.<br><br><br></b>
Hudebně-divadelní pásmo sestávající převážně z autorských písní. Vycházíme z tradice českého, německého a francouzského kabaretu. V představení se setkají postavy zestárlé baletky, žoviálního cestovatele, barové zpěvačky, klauna, herce čínské opery, ženy středních let, hospodských šviháků, pianisty z jiného světa a další.
<br><br>Mezi šansonovou melancholií a drastickou komikou.
</p>
</div>
<% if (@news.size > 0 || current_user) %>
<h3 class="top_margin">Novinky</h3>
<div class="news">
<% if is_admin %>
<%= link_to "Nová", new_news_path %><br><br>
<% end %>
<% for news in @news %>
<div class="news">
	<% if is_admin %>
		<%= link_to "Edit", edit_news_path(news.id) %> <%= link_to "Smazat", news_path(news.id), :method => "delete" %>
	<% end %>
	<div class="news_header"><%=h news.header %></div>
	<div class="news_body"><%=h news.body %></div>
</div>

<% end %>
</div>
<% end %>
