<% if (@news.size > 0 || is_admin) %>
<div class="news">
<% if is_admin %>
<%= link_to "Nová", new_news_path, :class => "admin" %><br><br>
<% end %>
<% for news in @news %>
	<% if is_admin %>
		<%= link_to "Edit", edit_news_path(news.id), :class => "admin" %> <%= link_to "Smazat", news_path(news.id), :method => "delete", :class => "admin" %>
	<% end %>
	<div class="news_header"><%=h news.header %></div>
	<div class="news_body"><%=h news.body %></div>
<% end %>
</div>
<% else %>
Nejsou žádné novinky. Všechno při starém...
<% end %>

