<h2>Úvod</h2>
<div class="about_us_par2">
	Bufetová nostalgie v bílém baretu pivního džbánu.<br> Kabaret, který vyudí koleno barové zpěvačky Christiany Morgensternové.<br> Ostrost rosí jelení lůj na frontě.<br> Jeho jazyk setře prach z čínské zdi. Nad orchestrem visí: zapal sobě.
</div>
	
<div class="about_us_par3">
		Hudebně-divadelní pásmo sestávající převážně z autorských písní. Vycházíme z tradice českého, německého a francouzského kabaretu.<br> V představení se setkají postavy zestárlé baletky, žoviálního cestovatele, barové zpěvačky, klauna, herce čínské opery, ženy středních let, hospodských šviháků, pianisty z jiného světa a další.
		<br><br>Od šansonové melancholie po drastickou komikou.
</div>
<% if (@news.size > 0 || is_admin) %>
<h2>Novinky</h2>
<div class="news">
<% if is_admin %>
<%= link_to "Nová", new_news_path, :class => "admin" %><br><br>
<% end %>
<% for news in @news %>
	<% if is_admin %>
		<%= link_to "Edit", edit_news_path(news.id), :class => "admin" %> <%= link_to "Smazat", news_path(news.id), :method => "delete", :class => "admin" %>
	<% end %>
	<div class="news_header"><%=h news.header %></div>
	<div class="news_body"><%=h news.body %></div>
<% end %>
</div>
<% else %>
Nejsou žádné novinky. Všechno při starém...
<% end %>

