<% form_for @news, :url => {:action => "create"} do |f|  -%>
	<p>
		<%= f.label :header, "Nadpis" %><br>
		<%= f.text_field :header %>
	</p>
	<p>
		<%= f.label :body, "Tělo" %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit "Vložit", :disable_with => 'Vkládám...'  %>
	</p>
<% end -%>