<% for concert in @concerts%>
<div class="concert"> 
<div class="concert_name"><%=h concert.name%></div>

<div class="concert_info"><%=h concert.info%></div>
<% if concert.is_in_club? %><div class="concert_club"><%=h concert.club_name%></div><% end %>
<div class="concert_date"><%=h concert.date_str%></div>
<div class="concert_time"><%=h concert.time_range_str%></div>
<div class="concert_price"><%=h concert.price%></div>
</div>
<% end %>