<% for concert in @concerts%>
<div class="concert">
<div class="concert_name"><h3><%=h concert.name%></h3></div>
<div class="concert_time"><%=h concert.date_str%>, <%=h concert.time_range_str%></div>
<div class="concert_info"><%=h concert.info%></div>
<% if concert.is_in_club? %><div class="concert_club"><%=h concert.club_name%></div><% end %>
<% if !concert.price.nil? %><div class="concert_price"><%= number_to_currency(concert.price, :unit => "KÄ", :separator => ",", :delimiter => "", :format => "%n %u")%></div><% end %>
</div>
<% end %>