<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= stylesheet_link_tag "main" %>
	<title>Vlkabaret</title>
	
</head>

<body>
<div id="main_container">
<div id="top_container">
<div id="header_container">
	<h1>Vlkabaret</h1>
	<p id="header_line">Bufetová nostalgie v bílém baretu pivního džbánu....</p>
	<br>
	<% if current_user %>
	<%= current_user.login %> 
	<%= link_to "odhlásit", logout_path %>
	<% else %>
	<%= link_to "přihlásit", login_path %>
	<% end%>
</div>
<div id="menu_container">
<ul class="vertical_menu">
<li class="vertical_menu"><%= link_to "Úvod", root_path, :class => "vertical_menu" %></li>
<li class="vertical_menu"><%= link_to "Koncerty", program_path, :class => "vertical_menu" %></li>
<li class="vertical_menu" id="contact"> <%= link_to "Kontakt", contacts_path, :class => "vertical_menu" %></li>
<li class="vertical_menu"><%= link_to "O nás", about_us_path, :class=> "vertical_menu" %></li>
<% if current_user %>
	<li class="vertical_menu"><%= link_to "Uživatelé", users_path, :class => "vertical_menu" %></li>
	<li class="vertical_menu"><%= link_to "Role", roles_path, :class => "vertical_menu" %></li>
	<li class="vertical_menu"><%= link_to "Kluby", clubs_path, :class => "vertical_menu" %></li>	
<% end %>
</div>
</div>
<div id="content_container">
<%= yield %>
</div>	
</div>
</body>
</html>
